:root {
  --berry-blossom: #790D1D;
  --autumn-leaf: #9D352E;
  --olive-green: #4B4A1E;
  --bark-brown: #79512E;
  --rivulet-beige: #E0D2BD;

  --font-color-light-mode: var(--olive-green);
  --font-color-dark-mode: var(--rivulet-beige);

  --text-overhang: 1.5em;
  
}

body {
  background-color: var(--rivulet-beige);
  color: var(--font-color-light-mode);
  font-family: var(--font-body);
  margin: 0;

  @media screen and (min-width: 800px) {
    margin: 0 calc(50% - 400px);
  }

  @media screen and (min-width: 1400px) {
    margin: 0 calc(50% - 600px);
  }
}

body .dark-mode {
  background-color: var(--bark-brown);
  color: var(--font-color-dark-mode);
}

a:link {
  color: var(--font-color-light-mode)
}

a:hover {
  color: var(--bark-brown)
}

.title {
  font: arial bold 30px;
}

.heading {
  font: arial bold 25px;
}

.subtitle {
  font: comfortaa normal 15px;
}

.body-text {
  font: calibre normal 16px;
}

.body-text .large {
  font-size: 20px;
}

.body-text .strong {
  font-size: 16px;
  font-weight: bold;
}

.caption {
  font: arial bold 12px;
}

a.header-link {
  text-decoration: none;
  display: inline-block;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  ;

  .branding {
    img.logo {
      width: 4rem;
      height: auto;
      margin: 0 auto;
      display: inline-block;
      aspect-ratio: 1 / 1;
    }

    img.logo.primary {
      margin: 0.5em 1em;
    }

    h1.title {
      display: inline-block;
      width: auto;
      vertical-align: bottom;
      margin: 0.75rem 0;
      padding-top: 0;
    }
  }

  .nav-button {
    display: none;
    background-color: var(--rivulet-beige);
    border: 1px black ridge;
    color: var(--font-color-light-mode);
    height: 2rem;
    width: auto;
    position: fixed;
    top: 1rem;
    right: 1rem;
    transform: translate3d(0, 0, 0);
    /* Crucial for proper scroll behavior */
  }

  nav {
    max-width: 30%;
    margin-top: 0.5rem;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline-block;
    }

    ul li {
      display: block;
      margin-right: 1em;
      list-style-type: none;
    }

    .shopping-cart-container {
      display: inline-block;
      padding: 0.5em;
      top: -2em;
      position: relative;

      .shopping-cart {}
    }
  }

  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: center;

    .branding {
      text-align: center;
      ;
    }

    .nav-button {
      display: block;
      margin: 0.5em auto;
    }

    nav {
      display: none;
    }
  }
}

main.home {
  div.page-heading {
    display: flex;
    flex-direction: row;

    img {
      width: 10em;
      border: 0.25em ridge var(--font-color-dark-mode);
      margin: 0 1em;
    }

    .welcome-text {
      width: auto;
      vertical-align: top;
      padding-left: 0.5rem;
      padding-right: 1rem;

      .subtitle {
        margin-top: 0;
padding-top: 0;
      }
    }

    @media screen and (max-width: 500px) {
      flex-direction: column;
    }


  }

  div.categories {
    width: 100%;
    margin: 1em 0;
    display: inline-flex;

    a.gallery-link {
      text-decoration: none;
      color: var(--font-color-light-mode);
      text-wrap: nowrap;
      align-content: center;
      margin: 0 1rem;
      font-weight: bold;

      ::after {
        content: ":";
      }
    }

    div.category-links div {
      background-color: var(--olive-green);
    }


    @media screen and (max-width: 500px) {
      display: revert;
      margin: 0;

      a.gallery-link {
        margin: 0;
      }
    }

  }


  div.values-list,
  div.category-links {
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    width: 100%;

    div {
      margin: 1em 0;
      border: 1px solid var(--berry-blossom);
      padding: 0.5em;
      margin: 0.5em;
      background-color: var(--bark-brown);
      color: var(--rivulet-beige);

    }
  }


  div.specials {
    h3.subtitle {
      margin: 0.5em 0;
      color: var(--autumn-leaf);
    }

    div.products-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      div.product {
        border: 2px solid var(--olive-green);
        padding: 0.25em;
        margin: 0.25em;
        background-color: var(--bark-brown);
        color: var(--rivulet-beige);
        position: relative;
        width: 30%;
        height: 6em;

        img {
          height: 50%;
          width: auto;
          float: right;
        }

        h3.product-title {
          margin: 0 0.5em 0 0;
        }

        div.product-description {
          margin: 0.5em 0;
        }

        div.product-price {
          position: absolute;
          bottom: 0;
          left: 0;
          font-weight: bold;
          margin: 0 0 0 0.5em;
        }
      }

      div.product.detail {
        height: 19em;

        img {
          width: 100%;
          height: auto;
        }

        div.product-price {
          position: revert;
          bottom: revert;
          left: revert;
          font-weight: bold;
          margin: 0 0 0 0.5em;
          float: right;
          max-width: 50%;
        }

      }
    }

    @media screen and (max-width: 600px) {
      div.products-list {
        flex-direction: column;

        div.product {
          width: 100%;

          img {
            height: 50%;
            width: auto;
            float: left;
            margin: 0.5rem;
            margin-left: 0;
          }
        }


      }
    }

  }

  @media screen and (max-width: 500px) {
    img.storefront {
      display: none;
    }

  }
}

main.about {
  div.about-section {
    div {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 1em;
    }
  }

  div.business-details {
    display: flex;
    justify-content: space-around;

    div {
      table.operating-hours {
        tbody {
          tr {
            th {
              text-align: left;
              ;
            }
          }
        }
      }

      div.map-view {
        img.map {
          width: 14em;
          height: auto;
        }
      }
    }

    div.contact-form {
      form.contact-form {
        div {
          label {
            display: block;
          }
        }

        div.form-buttons {
          margin-top: 0.5em;
          display: flex;
          justify-content: space-between;
        }
      }


    }

    div.store-view {
      img {
        height: 30em;
        width: auto;
      }

    }
  }

}

main.news {
  div.events {
    div.event-list {
      display: flex;
      justify-content: space-between;

      div.event {
        border: 2px solid var(--olive-green);
        padding-left: 0.5em;
        background-color: var(--bark-brown);
        color: var(--rivulet-beige);
        max-width: 48%;

        div.event-details {
          display: flex;
          justify-content: flex-start;

          div.picture {
            img {
              width: 8em;
              margin: 0 1em 1em 0;
            }
          }

          div {
            h3.subject {
              margin: 0.5em 0;
              top: -0.2em;
              position: relative;
            }

            div.date::before {
              content: "Date: ";
              font-weight: bold;
            }

            div.time::before {
              content: "Time: ";
              font-weight: bold;
            }

            div.location {
              text-indent: calc(0em - var(--text-overhang));
              padding-left: var(--text-overhang);

              &::before {
                content: "Location: ";
                font-weight: bold;
              }
            }
          }
        }

      }

      div.event-description {
        div.description-text {
          margin: 0.75em 0;
          font-size: smaller;
        }

      }
    }

  }

  div.announcements {
    div.announcement {
      h3 {
        margin-bottom: 0;
      }
    }
  }
}

main.policies {
  h2 {
    margin-bottom: 0.2em;
  }
}

footer {
  position: fixed;
  display: block;
  box-sizing: border-box;
  
  left: 0;
  bottom: 0;
  top: calc(100% - 3rem);
  width: 100%;
  z-index: 100;
  align-items: center;
  background-color: var(--rivulet-beige);

  div.footer-content {
    display: flex;
    justify-content: space-between;

    div.social-media {
      width: auto;
      margin: 0 0.5em;
      white-space: nowrap;

      a.icon {
        font-size: 1.25em;
        color: var(--font-color-light-mode);
        transition: color 0.3s;

        &:hover {
          color: var(--berry-blossom);
        }
      }
    }

    div.newsletter {}

    div.admin-links {
      width: auto;
      margin: 0 0.5em;
      text-align: right;

      ul {
        display: inline-block;
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          display: inline;
          margin-right: 0.1em;
          list-style-type: none;
          font-size: small;
          white-space: nowrap;

          a {
            margin: 0 1em;
            color: var(--font-color-light-mode);
            text-decoration: none;
            font-weight: bold;
          }
        }

        &:hover {
          color: var(--berry-blossom);
        }
      }

    }
  }

}


@media screen and (max-width: 500px) {
  body {
    margin-bottom: 4.5rem;
  }


  footer {
    position: fixed;
    height: 4rem;
    top: calc(100% - 4rem);

    bottom: 0;
    left: 0;
    right: 0;

    div.footer-content {
      flex-direction: column;
      align-items: center;

      div.social-media {
        display: inline-flex;
        justify-content: space-around;
        width: 100%;
      }

      div.admin-links {
        position: fixed;
        bottom: 0.25rem;
        right: 0.1rem;
      }
    }

  }
}