:root {
  --berry-blossom: #790D1D;
  --autumn-leaf: #9D352E;
  --olive-green: #4B4A1E;
  --bark-brown: #79512E;
  --rivulet-beige: #E0D2BD;

  --font-color-light-mode: var(--olive-green);
  --font-color-dark-mode: var(--rivulet-beige);

  --text-overhang: 1.5em;
}

body {
  background-color: var(--rivulet-beige);
  color: var(--font-color-light-mode);
  font-family: var(--font-body);
  margin-bottom: 2em;
}

body .dark-mode {
  background-color: var(--bark-brown);
  color: var(--font-color-dark-mode);
}

a:link {
  color: var(--font-color-light-mode)
}

a:hover {
  color: var(--bark-brown)
}

.title {
  font: arial bold 30px;
}

.heading {
  font: arial bold 25px;
}

.subtitle {
  font: comfortaa normal 15px;
}

.body-text {
  font: calibre normal 16px;
}

.body-text .large {
  font-size: 20px;
}

.body-text .strong {
  font-size: 16px;
  font-weight: bold;
}

.caption {
  font: arial bold 12px;
}

img.logo {
  width: 4rem;
  height: auto;
  display: block;
  margin: 0 auto;
}

img.logo.primary {
  display: inline-block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  background-color: var(--rivulet-beige);
  border-bottom: 2px solid var(--olive-green);
  position: sticky;
  top: 0;
  z-index: 100;

  a.header-link {
    text-decoration: none;
    display: inline-block;
    align-self: right;
  }

  ul {
    list-style: none;
  }

  ul li {
    display: block;
    margin-right: 1em;
    list-style-type: none;
  }
}

main div.page-heading {
  display: flex;
  padding: 1em;

  img {
    width: 10em;
    border: 0.25em ridge var(--font-color-dark-mode);
    margin: 0 1em;
  }
}

div.values-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.values-list div,
div.category-list div {
  border: 1px solid var(--berry-blossom);
  padding: 0.5em;
  margin: 0.5em;
  background-color: var(--bark-brown);
  color: var(--rivulet-beige);
}

div.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

div.category-list div {
  background-color: var(--olive-green);
}

div.specials {
  h3.subtitle {
    margin: 0.5em 0;
    color: var(--autumn-leaf);
  }
}

div.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  div.product {
    border: 2px solid var(--olive-green);
    padding: 0.25em;
    margin: 0.25em;
    background-color: var(--bark-brown);
    color: var(--rivulet-beige);
    position: relative;
    width: 30%;
    height: 6em;

    img {
      height: 50%;
      width: auto;
      float: right;
    }

    h3.product-title {
      margin: 0 0.5em 0 0;
    }

    div.product-description {
      margin: 0.5em 0;
    }

    div.product-price {
      position: absolute;
      bottom: 0;
      left: 0;
      font-weight: bold;
      margin: 0 0 0 0.5em;
    }
  }

  div.product.detail {
    height: 19em;

    img {
      width: 100%;
      height: auto;
    }

    div.product-price {
      position: revert;
      bottom: revert;
      left: revert;
      font-weight: bold;
      margin: 0 0 0 0.5em;
      float: right;
      max-width: 50%;
    }

  }
}

main.about {
  div.about-section {
    div {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 1em;
    }
  }

  div.business-details {
    display: flex;
    justify-content: space-around;

    div {
      table.operating-hours {
        tbody {
          tr {
            th {
              text-align: left;
              ;
            }
          }
        }
      }

      div.map-view {
        img.map {
          width: 14em;
          height: auto;
        }
      }
    }

    div.contact-form {
      form.contact-form {
        div {
          label {
            display: block;
          }
        }

        div.form-buttons {
          margin-top: 0.5em;
          display: flex;
          justify-content: space-between;
        }
      }


    }

    div.store-view {
      img {
        height: 30em;
        width: auto;
      }

    }
  }

}

main.news {
  div.events {
    div.event-list {
      display: flex;
      justify-content: space-between;

      div.event {
        border: 2px solid var(--olive-green);
        padding-left: 0.5em;
        background-color: var(--bark-brown);
        color: var(--rivulet-beige);
        max-width: 48%;

        div.event-details {
          display: flex;
          justify-content: flex-start;

          div.picture {
            img {
              width: 8em;
              margin: 0 1em 1em 0;
            }
          }

          div {
            h3.subject {
              margin: 0.5em 0;
              top: -0.2em;
              position: relative;
            }

            div.date::before {
              content: "Date: ";
              font-weight: bold;
            }

            div.time::before {
              content: "Time: ";
              font-weight: bold;
            }

            div.location {
              text-indent: calc(0em - var(--text-overhang));
              padding-left: var(--text-overhang);

              &::before {
                content: "Location: ";
                font-weight: bold;
              }
            }
          }
        }

      }

      div.event-description {
        div.description-text {
          margin: 0.75em 0;
          font-size: smaller;
        }

      }
    }

  }

  div.announcements {
    div.announcement {
      h3 {
        margin-bottom: 0;
      }
    }
  }
}

main.policies {
  h2 {
    margin-bottom: 0.2em;
  }
}

footer {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  align-items: center;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  background-color: var(--rivulet-beige);

  div.footer-content {
    display: flex;
    justify-content: space-between;

    div.social-media {
      width: auto;
      margin: 0 0.5em;

      a.icon {
        font-size: 1.25em;
        color: var(--font-color-light-mode);
        transition: color 0.3s;

        &:hover {
          color: var(--berry-blossom);
        }
      }
    }

    div.newsletter {}

    div.admin-links {
      justify-content: end;
      width: auto;
      margin: 0 0.5em;

      ul {
        display: inline-block;
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          display: inline;
          margin-right: 0.1em;
          list-style-type: none;
          font-size: small;

          a {
            margin: 0 1em;
            color: var(--font-color-light-mode);
            text-decoration: none;
            font-weight: bold;
          }
        }

        &:hover {
          color: var(--berry-blossom);
        }
      }

    }
  }
}


@media (max-width: 400px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}