div.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  div.product {
    border: 2px solid var(--olive-green);
    padding: 0.25em;
    margin: 0.25em;
    background-color: var(--bark-brown);
    color: var(--rivulet-beige);
    position: relative;
    width: 30%;
    height: 6em;

    img {
      height: 50%;
      width: auto;
      float: right;
    }

    h3.product-title {
      margin: 0 0.5em 0 0;
    }

    div.product-description {
      margin: 0.5em 0;
    }

    div.product-price {
      position: absolute;
      bottom: 0;
      left: 0;
      font-weight: bold;
      margin: 0 0 0 0.5em;
    }
  }

  div.product.detail {
    height: auto;

    img {
      width: 100%;
      height: auto;
    }

    div.cost {
      position: revert;
      bottom: revert;
      left: revert;
      font-weight: bold;
      margin: 0 0 0 0.5em;
      display: block;

      .price {
        display: inline;
      }
      .price::before {
        content: "$";
      }
      .discount {
        display: inline;
      }
    }

    div.product-price {
      position: revert;
      bottom: revert;
      left: revert;
      font-weight: bold;
      margin: 0 0 0 0.5em;
      max-width: 90%;
    }

    button.add-to-cart {
      background-color: var(--rivulet-beige);
      padding: 0.2rem;
      margin: 0.5em 0 0 0.5em;
      border-color: var(--rivulet-beige);
      cursor: pointer;
    }

  }


  @media screen and (max-width: 600px) {
    flex-direction: column;

    div.product {
      width: 100%;
      height: auto;
    }

    div.product.detail img {
      height: auto;
      width: 50%;
      float: left;
      margin: 0.5rem;
      margin-left: 0;
    }

  }
}